
<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"  
       
        versionCode = "10" 
        version     = "1.0.0" > 

   
        <name>Mobmgtu</name> 

        <description> 
            Test 
        </description>

        <author>
           Kir
        </author> 
    </widget>